**Feature Engineering**

- so far we have performed feature analysis

    - Data frame quick checks

    - categorocal column analysis

    - Bar chart, Pie chart

    - Numerical column analysis

    - Histograms,boxplots,outlier

    - Bi-multi variate analysis

    - correlation etc...

- Now we need to learn freature Engineering

    - we will creat a column for better ML models

    - we will perform the encoding, which is convert categorocal to NUmarical data

    - we will do data transformation

    - we will perform **scaling:standariztion adnd Normalization**

    - we will perform the **Missing value analysis**

- Simply feature enginering means our data will be modified

- Featute Analysis

- feature engineering

- feature selection

- model development

- medel evaluation

- model tuning

- model deployment

**Encoding**

- convert categorocal data to numarical data

- ML model or Dl or any models works based on mathmatics

- models can not understand englis charcters

- so it is very important convert categorical label to numerical valures

- for ex gender column has two labels

    - Male

    - Female

- Then female represent as 0, Male represent as 1 based on alphabetical order

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path=r'C:\Users\Chaitanya\Documents\Data Files\Visadataset.csv'
visa_df=pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [3]:
cat=visa_df.select_dtypes(include='object').columns
num=visa_df.select_dtypes(exclude='object').columns

In [4]:
cat

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'region_of_employment', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [5]:
num

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [7]:
visa_df['case_status'].unique()

array(['Denied', 'Certified'], dtype=object)

- Certified should assign as 0

- Denied should assign as 1

In [8]:
d={'Certified':0,'Denied':1}
d

{'Certified': 0, 'Denied': 1}

In [9]:
visa_df['case_status']

0           Denied
1        Certified
2           Denied
3           Denied
4        Certified
           ...
25475    Certified
25476    Certified
25477    Certified
25478    Certified
25479    Certified
Name: case_status, Length: 25480, dtype: object

In [10]:
visa_df['case_status'].map(d)

0        1
1        0
2        1
3        1
4        0
        ..
25475    0
25476    0
25477    0
25478    0
25479    0
Name: case_status, Length: 25480, dtype: int64

In [11]:
visa_df['case_status']=visa_df['case_status'].map(d)

In [12]:
visa_df['case_status']

0        1
1        0
2        1
3        1
4        0
        ..
25475    0
25476    0
25477    0
25478    0
25479    0
Name: case_status, Length: 25480, dtype: int64

In [13]:
visa_df['continent']

0          Asia
1          Asia
2          Asia
3          Asia
4        Africa
          ...
25475      Asia
25476      Asia
25477      Asia
25478      Asia
25479      Asia
Name: continent, Length: 25480, dtype: object

In [14]:
d1={'Asia':0,'Africa':1,}
visa_df['continent']=visa_df['continent'].map(d1)
visa_df['continent']

0        0.0
1        0.0
2        0.0
3        0.0
4        1.0
        ...
25475    0.0
25476    0.0
25477    0.0
25478    0.0
25479    0.0
Name: continent, Length: 25480, dtype: float64

In [15]:
labels=visa_df['continent'].unique()

In [16]:
labels

array([ 0.,  1., nan])

In [17]:
visa_df['continent'].unique

<bound method Series.unique of 0        0.0
1        0.0
2        0.0
3        0.0
4        1.0
        ...
25475    0.0
25476    0.0
25477    0.0
25478    0.0
25479    0.0
Name: continent, Length: 25480, dtype: float64>

In [18]:
d={}
d['Asia']=0
d['Africa']=1
d['North America']=2
d['Europe']=3
d['South America']=4
d['Oceania']=5
d

{'Asia': 0,
 'Africa': 1,
 'North America': 2,
 'Europe': 3,
 'South America': 4,
 'Oceania': 5}

In [19]:
labels=visa_df['continent'].unique()
n=len(labels)
n

3

In [20]:
labels=sorted(visa_df['continent'].unique())
d={}
for i,j in enumerate(labels):
    d[j]=i

d

{np.float64(0.0): 0, np.float64(1.0): 1, np.float64(nan): 2}

In [21]:
d={j:i for i,j in enumerate(labels)}
visa_df['continent']=visa_df['continent'].map(d)

In [22]:
visa_df['continent']

0        0
1        0
2        0
3        0
4        1
        ..
25475    0
25476    0
25477    0
25478    0
25479    0
Name: continent, Length: 25480, dtype: int64

In [23]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,0,High School,N,N,14513,2007,West,592.2029,Hour,Y,1
1,EZYV02,0,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,0
2,EZYV03,0,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,1
3,EZYV04,0,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,1
4,EZYV05,1,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,0,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,0
25476,EZYV25477,0,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,0
25477,EZYV25478,0,Master's,Y,N,1121,1910,South,146298.8500,Year,N,0
25478,EZYV25479,0,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,0
25479,EZYV25480,0,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,0

In [6]:
labels=sorted(visa_df['continent'].unique())
labels

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [19]:
for i in cat[1:]:
    labels=sorted(visa_df[i].unique())
    d={j:i for j,i in enumerate(labels)}
    visa_df[i]=visa_df[i].map(d)

In [20]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,NaN,NaN,NaN,NaN,14513,2007,NaN,592.2029,NaN,NaN,NaN
1,EZYV02,NaN,NaN,NaN,NaN,2412,2002,NaN,83425.6500,NaN,NaN,NaN
2,EZYV03,NaN,NaN,NaN,NaN,44444,2008,NaN,122996.8600,NaN,NaN,NaN
3,EZYV04,NaN,NaN,NaN,NaN,98,1897,NaN,83434.0300,NaN,NaN,NaN
4,EZYV05,NaN,NaN,NaN,NaN,1082,2005,NaN,149907.3900,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,NaN,NaN,NaN,NaN,2601,2008,NaN,77092.5700,NaN,NaN,NaN
25476,EZYV25477,NaN,NaN,NaN,NaN,3274,2006,NaN,279174.7900,NaN,NaN,NaN
25477,EZYV25478,NaN,NaN,NaN,NaN,1121,1910,NaN,146298.8500,NaN,NaN,NaN
25478,EZYV25479,NaN,NaN,NaN,NaN,1918,1887,NaN,86154.7700,NaN,NaN,NaN
25479,EZYV25480,NaN,NaN,NaN,NaN,3195,1960,NaN,70876.9100,NaN,NaN,NaN

**LableEncoder**

- LableEncoder is amethod will convert cat lables to numerical values

- it is under package:**Sklearn(sickit-learn)**

    - The class Name: **Preprocessing**

                    - The method name: **LabelEncoder**

In [11]:
from sklearn.preprocessing import LabelEncoder

- step-1: import the method

- save the method

- apply fit transform

- **fit transform**

    - **fit** means find the logic

        - in above ex fit means creat **mapper** or **dict**

    - **transform** apply the logic and change the data

        - apply the **mapper on the data**

In [21]:
path=r'C:\Users\Chaitanya\Documents\Data Files\Visadataset.csv'
visa_df=pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [22]:
cat=visa_df.select_dtypes(include='object').columns
cat

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'region_of_employment', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [23]:
from sklearn.preprocessing import LabelEncoder    # import the method

In [25]:
le=LabelEncoder()    #save the method
le

LabelEncoder()

In [28]:
visa_df['case_status']=le.fit_transform(visa_df['case_status'])
#Apply fit transform
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,1
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,0
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,1
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,1
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,0
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,0
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,0
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,0
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,0

In [29]:
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
visa_df['continent']=le1.fit_transform(visa_df['continent'])
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,1,High School,N,N,14513,2007,West,592.2029,Hour,Y,1
1,EZYV02,1,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,0
2,EZYV03,1,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,1
3,EZYV04,1,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,1
4,EZYV05,0,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,1,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,0
25476,EZYV25477,1,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,0
25477,EZYV25478,1,Master's,Y,N,1121,1910,South,146298.8500,Year,N,0
25478,EZYV25479,1,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,0
25479,EZYV25480,1,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,0

In [31]:
path=r'C:\Users\Chaitanya\Documents\Data Files\Visadataset.csv'
visa_df=pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [32]:
cat=visa_df.select_dtypes(include='object').columns
cat

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'region_of_employment', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in cat[1:]:

**OneHotEncoder**

- First how many labels are there in a columns

- That many new columns will be created extra

- For example case status has two lables

    - Cerified

    - Denied

- So it will create Two extra columns,

    - Case_status_cerified

    - Case_status_Denied

- At a time one column value become 1 other column value become 0

- This means a **one hot encoder**

|Case_status||case_status_Cerified||case_status_Denied|
|-|-|-|
|Certified||1|0|
|Denied||0|1|

In [33]:
#continent C_A   C_Af  C_E
#Asia       1      0    0
#Africa     0      1    0
#Europe     0      0    1

**pd.get_dummies**

In [34]:
path=r'C:\Users\Chaitanya\Documents\Data Files\Visadataset.csv'
visa_df=pd.read_csv(path)
cat=visa_df.select_dtypes(include='object').columns

In [35]:
pd.get_dummies(visa_df['case_status'])

       Certified  Denied
0          False    True
1           True   False
2          False    True
3          False    True
4           True   False
...          ...     ...
25475       True   False
25476       True   False
25477       True   False
25478       True   False
25479       True   False

[25480 rows x 2 columns]

In [37]:
pd.get_dummies(visa_df['case_status'],dtype=int)

       Certified  Denied
0              0       1
1              1       0
2              0       1
3              0       1
4              1       0
...          ...     ...
25475          1       0
25476          1       0
25477          1       0
25478          1       0
25479          1       0

[25480 rows x 2 columns]

In [38]:
pd.get_dummies(visa_df['continent'])

       Africa   Asia  Europe  North America  Oceania  South America
0       False   True   False          False    False          False
1       False   True   False          False    False          False
2       False   True   False          False    False          False
3       False   True   False          False    False          False
4        True  False   False          False    False          False
...       ...    ...     ...            ...      ...            ...
25475   False   True   False          False    False          False
25476   False   True   False          False    False          False
25477   False   True   False          False    False          False
25478   False   True   False          False    False          False
25479   False   True   False          False    False          False

[25480 rows x 6 columns]

In [39]:
pd.get_dummies(visa_df['continent'],dtype=int)

       Africa  Asia  Europe  North America  Oceania  South America
0           0     1       0              0        0              0
1           0     1       0              0        0              0
2           0     1       0              0        0              0
3           0     1       0              0        0              0
4           1     0       0              0        0              0
...       ...   ...     ...            ...      ...            ...
25475       0     1       0              0        0              0
25476       0     1       0              0        0              0
25477       0     1       0              0        0              0
25478       0     1       0              0        0              0
25479       0     1       0              0        0              0

[25480 rows x 6 columns]